################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/market/api/DREM-API/DREM-API/bin/Debug/net5.0
/market/api/DREM-API/.vs/DREM-API
/market/api/DREM-API/DREM-API/obj
/market/api/DREM-API/DREM-API/internalLog.txt
/market/api/DREM-API/AlgorandAuthentication/bin/Debug/net5.0
/market/api/DREM-API/AlgorandAuthentication/obj/Debug/net5.0
/market/api/DREM-API/AlgorandAuthentication/obj
/.vs
